<ion-content padding class="work-modal" *ngIf="account">
  <ion-card class="work-card">
    <img src="{{account.picture}}"/>
    <ion-card-content>
      <ion-card-title>
        {{account.company}}
      </ion-card-title>
      <ion-list>
        <ion-list-header>
          Action
        </ion-list-header>
        <ion-item>{{account.job_title}}</ion-item>
        <ion-item>{{account.company_phone_number}}</ion-item>
        <ion-item>{{account.end_date}} - {{account.start_date}}</ion-item>
        <ion-item>{{account.description}}</ion-item>
      </ion-list>

    </ion-card-content>
    <button full danger ion-button icon-only (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-card>

</ion-content>


<ion-content padding class="work-modal" *ngIf="!account">
  <ion-card class="work-card">
    <ion-card-content>
      Please wait...
    </ion-card-content>
    <button full danger ion-button icon-only (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-card>
</ion-content>
