<ion-header>
  <ion-navbar>
    <ion-title>Meetup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="calendar">
  <h2 text-center>Choose a topic</h2>
  <ion-card *ngIf="myCat">
    <!--<ion-item *ngFor="let i of myCat">-->
      <!--{{i.name}}-->
    <!--</ion-item>-->


    <ion-grid>
      <ion-row wrap>
        <ion-col width-50 *ngFor="let i of myCat">
          <button tappable (click)="getEvent(i.id)" full>{{i.shortname}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
