<ion-header style="z-index: -1" [hidden]="hiddenMap">
  <ion-item-divider style="background-color: #0177B5"></ion-item-divider>
</ion-header>

<ion-content class="map-page" [hidden]="!hiddenMap">
  <div id="map">
    <ion-header style="padding-top: 10px">
      <ion-navbar>
        <ion-buttons start>
          <button ion-button icon-only tappable (click)="closeMap()">
            <ion-icon name="md-arrow-round-back"></ion-icon>
          </button>
        </ion-buttons>

        <ion-title>People's Location</ion-title>

        <ion-buttons end>
          <!--<button id="profile-bar-button" ion-button>-->
          <button menuToggle ion-button icon-only tappable (click)="openMapList()">
            <i class="fa fa-bars fx-4x" aria-hidden="true"></i>
          </button>
        </ion-buttons>
      </ion-navbar>
    </ion-header>
    <ion-content>
      <ion-fab left bottom>
        <button ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-content>
  </div>
</ion-content>

<ion-content class="profile" #profile *ngIf="account" [hidden]="hiddenMap">

  <ion-card class="top-card">
    <ion-grid>
      <ion-row>
        <ion-col class="top-card-col" #contact width-25>
          <span padding class="top-span contact-span">Contact</span>
        </ion-col>
        <ion-col class="top-card-col" #portfolio width-25>
          <span padding class="top-span portfolio-span">Portfolio</span>
        </ion-col>
        <ion-col class="top-card-col" #work width-25>
          <span padding class="top-span work-span">Work</span>
        </ion-col>
        <ion-col class="top-card-col" #social width-25>
          <span padding class="social-span">Social</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="middle-card">
    <ion-slides #mySlider (ionDrag)="testDrag()" (ionDidChange)="onSlidedChanged()" [options]="options">

      <!--

      PROFILE

      -->

      <ion-slide class="profile-tab">
        <ion-scroll scrollY="true">
        <div class="profile-inner-box">
          <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
          <h2>{{account.contact.name}}</h2>
          <p>{{account.contact.main_title}}</p>
          <ion-list>
            <ion-item>
              <i class="fa fa-envelope fa-lg" aria-hidden="true" item-left></i>
              <div item-right>{{account.email}}</div>
            </ion-item>
            <ion-item>
              <i class="fa fa-mobile fa-2x" aria-hidden="true" item-left></i>
              <div item-right>{{account.contact.phone}}</div>
            </ion-item>
            <ion-item>
              <i class="fa fa-location-arrow fa-lg" aria-hidden="true" item-left></i>
              <div item-right>{{account.contact.location}}</div>
            </ion-item>
            <ion-item>
              <i class="fa fa-file-text fa-lg" aria-hidden="true" item-left></i>
              <button tappable secondary item-right>Resume</button>
            </ion-item>
            <ion-item>
              <i class="fa fa-birthday-cake fa-lg" aria-hidden="true" item-left></i>
              <div item-right>{{account.contact.birthday}}</div>
            </ion-item>
            <ion-item>
              <i class="fa fa-university fa-lg" aria-hidden="true" item-left></i>
              <div item-right>{{account.contact.university}}</div>
            </ion-item>
          </ion-list>
        </div>
          </ion-scroll>
      </ion-slide>

      <!--

      PORTFOLIO

      -->
      <ion-slide class="portfolio-tab">
        <ion-grid>
          <ion-row wrap>
            <ion-col class="portfolio-col" width-50 *ngFor="let singleport of account.portfolio">
              <a tappable (click)="openPortfolio(singleport)">
                <img src="{{singleport.picture_url}}">
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!--

      EXPERIENCES

      -->
      <ion-slide class="work-tab">
        <ion-scroll scrollY="true">
        <ion-list>
          <ion-item *ngFor="let singlework of account.work">
            <a tappable (click)="openWorkModal(singlework)">
              <ion-thumbnail item-left>
                <img src="{{singlework.picture}}">
              </ion-thumbnail>
              <h2>{{singlework.company}}</h2>
              <p>{{singlework.job_title}}</p>
            </a>
          </ion-item>
        </ion-list>
        </ion-scroll>
      </ion-slide>
      <!--

      SOCIAL

      -->
      <ion-slide padding class="social-tab">
        <ion-scroll scrollY="true">
          <button ion-button icon-left full class="facebook-button">
            <ion-icon class="fa fa-facebook-official" aria-hidden="true"></ion-icon>
            Facebook
          </button>
          <button ion-button icon-left full class="twitter-button">
            <ion-icon class="fa fa-twitter-square"></ion-icon>
            Twitter
          </button>
          <button ion-button icon-left full class="linkedin-button">
            <ion-icon class="fa fa-linkedin-square"></ion-icon>
            Linkedin
          </button>
          <button ion-button icon-left full class="youtube-button">
            <ion-icon class="fa fa-youtube-square"></ion-icon>
            Youtube
          </button>
          <button ion-button icon-left full class="github-button">
            <ion-icon class="fa fa-github-square"></ion-icon>
            Github
          </button>
          <button ion-button icon-left full class="dribble-button">
            <ion-icon class="fa fa-dribbble"></ion-icon>
            Dribble
          </button>
          <button ion-button icon-left full class="instagram-button">
            <ion-icon class="fa fa-instagram"></ion-icon>
            Instagram
          </button>
          <button ion-button icon-left full class="snapchat-button">
            <ion-icon class="fa fa-snapchat-square"></ion-icon>
            Snapchat
          </button>
          <button ion-button icon-left full class="pinterest-button">
            <ion-icon class="fa fa-pinterest-square"></ion-icon>
            Pinterest
          </button>
          <button ion-button icon-left full class="dropbox-button">
            <ion-icon class="fa fa-dropbox"></ion-icon>
            Dropbox
          </button>
          </ion-scroll>
      </ion-slide>


    </ion-slides>

  </ion-card>

  <ion-card class="bottom-card">
    <div class="bot-icons">

      <ion-grid>
        <ion-row>
          <ion-col class="bot-col" width-50>
            <button class="bot-button-icon" tappable (click)="openBarcode()">
              <i class="fa fa-qrcode fa-lg" aria-hidden="true"></i>
            </button>
          </ion-col>
          <ion-col class="bot-col" width-50>
            <button class="bot-button-icon" tappable (click)="openMap()">
               <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>


</ion-content>
