ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
.map-page{
  #map {




    height: 100%;
    .toolbar{
      margin-top: -12px;
    }
    .toolbar-background{
      background-color: #0177B5
    }
    ion-header{
      background:transparent;

      .hamBurger{
        /* VARIABLES */

        $background:         darken(desaturate(#FF3300,40%), 10%);

        $burgerwidth:        50px;
        $burgercolor:        #fff;
        $transition:         all .25s ease-in-out 0.2s;
        $centerdelay:        0s;

        // Do not adjust variables below
        $burgerheight:       $burgerwidth - $burgerwidth/5;
        $burgerline:         $burgerwidth/5;
        $burgerchecktop:     $burgerwidth/3.3;
        $burgercheckbottom:  -$burgerwidth/3.3;
        $burgermargin:       $burgerline/2 0;

        /* END OF VARIABLES */

        $break:         300px;

        * {
          box-sizing: border-box;
        }


        input:checked {
          ~ label {
            span {

              &:nth-child(2) {
                opacity: 0;
                //height: 0;
                //width: 0;
                margin-left:-100vw;
                //background-color: red;
                transition-delay: $centerdelay;
                transition-speed: 0.5s;
              }
              &:nth-child(1) {
                transform: rotate(405deg);
                top: $burgerchecktop;
              }
              &:nth-child(3) {
                transform: rotate(-405deg);
                top: $burgercheckbottom;
              }

            }
          }
          ~ ul {
            //display: table;
          }
        }

        label.hamburger {
          display: inline-block;
          padding: 0;
          height: $burgerheight;
          cursor: pointer;
          position: absolute;
          z-index: 10;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;

          @media screen and (min-width: $break) {
            //display: none;
          }

          span {
            content: "";
            width: $burgerwidth;
            height: $burgerline;
            background-color: $burgercolor;
            display: block;
            margin: 0;
            transition: $transition;
            opacity: 1;
            position: relative;
            top: 0;

            &:nth-of-type(2) {
              margin: $burgermargin;
              //transition: none;
            }

            &:last-of-type {
              margin: 0;
            }
          }
        }
      }

    }
    .button-icon-only{
      background: #387ef5 !important;
    }
  }
}


#profile-bar-button{
 padding: 0 10px;
}


.profile {


  .main-tab{
    margin: 1px 12px 12px 12px;
    border-top: 3px solid #0177B5;
    .profile-img{
      border: 3px solid #0177B5;
      border-radius:50%;
      margin: -20px auto auto auto;
      width: auto;
      height: auto;
      max-width: 80px;
      max-height: 60px
    }
    .google-img{
      position: relative;
      top: 0;
      border-radius:50%;
      margin: auto auto auto auto;
      width: auto;
      height: auto;
      max-width: 50px;
      max-height: 50px
    }

    .google-img:focus, .google-img:active{
      border: 4px solid green;
    }


    .profile-inner-box {

      position: relative;
      width: 100%;
      height: 100%;
      margin-top: 30px;
      border-top: 1px solid #0177B5;

      p{
        letter-spacing: 3px;
      }

      .scanned-user{
        display: inline-block !important;
        h2{
          font-size: 1.8em;
        }
        p{
          padding-bottom: 0;
          color: darkgrey;
          letter-spacing: 3px;
        }
        top: 14px;
        position: absolute;
        left: 20px;
      }
      .requested-user{
        display: inline-block !important;
        h2{
          font-size: 1.8em;
        }
        p{
          padding-bottom: 0;
          color: darkgrey;
          letter-spacing: 3px;
        }
        top: 14px;
        position: absolute;
        right: 20px;
      }


      h2{
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
      }
      p{
        font-size:10px;
        padding-bottom: 15px;
        text-align: center;
      }
    }

  }

  //opacity: 0.5;
  //background-color: #363838;
  //-webkit-filter: blur(5px);
  //-moz-filter: blur(5px);
  //-o-filter: blur(5px);
  //-ms-filter: blur(5px);
  //filter: blur(5px);


  scroll-content{
    padding-bottom:2px;
  }

  .swiper-container-horizontal > .swiper-pagination{
    bottom: 10px;
  }

  .swiper-container{
    position: inherit;
    height: 400px;
  }

  ion-grid{
    padding: 0;
  }


  .middle-card{
    border-top: 3px solid #0177B5;
    height: 415px !important;
    margin: 12px 12px 0 12px;
  }

  .top-card{
    margin-top: 5px;
    border-top: 3px solid #0177B5;
    //padding: 20px 0;
    margin-bottom: 7px;

    ion-grid{
      ion-row{
        ion-col{
          text-align: center;
        }
      }
    }

    .top-card-col{
      text-align: center;
      padding: 1px;
      padding-top: 5px;
      border-right: 1px solid #ccc;
    }

  }
  .top-span{

  }
  .contact-span{
    //padding-left: 0;
    padding: 0;
  }
  .portfolio-span{
    //padding-left: 0;
    padding: 0;
  }
  .work-span{
    //padding-left: 6px;
    padding: 0;
  }
  .social-span{
    //padding-left: 0;
    padding: 0;
  }
  .top-span > .ion-grid > .ion-row >.ion-col > span{
    padding: 0 !important;
  }

  .bottom-card{
    margin-bottom: 0;
    margin: auto;
    padding: 5px;
    border-top: 3px solid #0177B5;

    .fa.fa-qrcode{
      border: 1px solid grey;
    }

    .bot-icons{
        display: block;
        text-align: center;

      .bot-col{
        padding: 0;
      }

      .bot-button-icon{
        margin: 0;
        font-size: 1.0em;
        color:blue !important;
      }
    }


  }

  /*

    Profile Page

  */

  .profile-tab{

    img{
      //border: 3px solid #0177B5;
      //border-radius:50%;
      //margin: -40px auto auto auto;
      //width: auto;
      //height: auto;
      //max-width: 120px;
      //max-height: 100px
    }

    .google-img{
      position: relative;
      top: 0;
      border-radius:50%;
      margin: 5px auto auto auto;
      width: auto;
      height: auto;
      max-width: 50px;
      max-height: 50px
    }

    .google-img:focus, .google-img:active{
      border: 3px solid #0177B5;
    }

    .qr-img{
      position: relative;
      top: 0;
      border-radius:50%;
      margin: 5px auto auto auto;
      width: auto;
      height: auto;
      max-width: 50px;
      max-height: 50px
    }

    .qr-img:focus, .qr-img:active{
      border: 3px solid #0177B5;
    }

    .regular-circle{
      border-radius: 50% !important;
      position: relative;
      top: 0;
      border-radius:50%;
      margin: 5px auto auto auto;
      height: 50px;
      width: 50px;
      max-width: 50px;
      max-height: 50px
    }

    .regular-circle:active{
      border: 3px solid #0177B5;
    }


    .slide-zoom{
      height: 100%;
      position: relative;
      ion-scroll{
        height: 100%;
      }
      .profile-inner-box{
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        border-top: 1px solid #0177B5;



        ion-list{
          ion-item{
            padding-left: 0;
          }
        }

        h2{
          font-weight: 900;
          letter-spacing: 2px;
        }
        p{
          font-size:10px;
          padding-bottom: 15px;
        }



      }
    }

  }


  /*

    Portfolio Page

  */

  .portfolio-tab{

    .portfolio-col{
      border-spacing: 10px 50px;
      border: 1px solid #0177B5;
      height: 100px;
      width: 100px;
      padding: 0;
      a{

        img{
          height: 100%;
        }
      }
      img{
        height: 100%;
      }
    }
  }

  .work-tab{

    img{
      height: 50px;
      width: 75px;
    }

    .slide-zoom{
      height: 100%;

      ion-scroll{
        height: 100%;

        ion-list{
          ion-item{
            padding-left: 0;
          }
        }

      }

    }
  }


  .social-tab{

    .slide-zoom{

      height: 100%;

      ion-scroll{
        height: 100%;
      }
    }



    .facebook-button{
      background-color: #39579A;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .facebook-button:active {
      background-color: #ccc;
    }

    .twitter-button{
      background-color: #50ABF1;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .twitter-button:active {
      background-color: #ccc;
    }

    .linkedin-button{
      background-color: #007BBB;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .linkedin-button:active {
      background-color: #ccc;
    }

    .youtube-button{
      background-color: #E32A27;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .youtube-button:active {
      background-color: #ccc;
    }

    .github-button{
      background-color: #444444;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .github-button:active {
      background-color: #ccc;
    }

    .dribble-button{
      background-color: #EA4C89;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .dribble-button:active {
      background-color: #ccc;
    }

    .instagram-button{
      background-color: #5E84AB;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .instagram-button:active {
      background-color: #ccc;
    }

    .snapchat-button{
      background-color: #FFFB01;
      color: #FFF;
      font-weight: 800;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .snapchat-button:active {
      background-color: #ccc;
    }

    .pinterest-button{
      background-color: #DD0C07;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .pinterest-button:active {
      background-color: #ccc;
    }

    .dropbox-button{
      background-color: #0085E0;
      ion-icon{
        position: absolute;
        left: 10px;
        font-size: 1.8em;
        border-right: 1px solid #fff;
        line-height: 130%;
      }
    }
    .dropbox-button:active {
      background-color: #ccc;
    }

  }




























}


