<ion-header>
  <ion-item-divider style="background-color: #0177B5"></ion-item-divider>
</ion-header>
<ion-content class="find-picture">

  <!--<ion-card>-->
    <!--<h1 style="text-align:center">Import sa picture of him!!</h1>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<button ion-button tappable (click)="openPhoto()">Choose a Photo</button>-->
  <!--</ion-card>-->


  <ion-card *ngIf="foundHim" class="main-person">
    <img class="mainguy" src="{{foundHim.imageUrl}}">

      <button class="goToProfile" icon-only tappable (click)="goToProfilePage()" ion-button>
        97%
      </button>
      <h3 *ngIf="FirebaseReturnedData">{{FirebaseReturnedData.contact.name}}</h3>

      <button class="profilePage" full icon-only tappable (click)="goToProfilePage()" ion-button>
        Go To Profile
      </button>


  </ion-card>


<div *ngIf="!foundHim">

<button class="camera-button" ion-button icon-only tappable (click)="openPhoto()">
  <ion-icon class="ion-camera-icon" name="camera"></ion-icon>
</button>
  <h2 class="small-text">Import from gallery</h2>
</div>


</ion-content>
