<ion-header>
  <ion-item-divider style="background-color: #0177B5"></ion-item-divider>
</ion-header>
<ion-content class="find-picture">

  <!--<ion-card>-->
    <!--<h1 style="text-align:center">Import sa picture of him!!</h1>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<button ion-button tappable (click)="openPhoto()">Choose a Photo</button>-->
  <!--</ion-card>-->


  <ion-card *ngIf="foundHim" class="main-person">
    <img class="mainguy" src="{{foundHim.imageUrl}}">

      <button class="goToProfile" icon-only tappable (click)="goToProfilePage()" ion-button>
        {{foundHim.score}}%
      </button>
      <h3 *ngIf="FirebaseReturnedData">{{FirebaseReturnedData.contact.name}}</h3>

      <button class="profilePage" full icon-only tappable (click)="goToProfilePage()" ion-button>
        Go To Profile
      </button>


  </ion-card>


<div *ngIf="!foundHim">

<button class="camera-button" ion-button icon-only tappable (click)="openPhoto()">
  <ion-icon class="ion-camera-icon" name="camera"></ion-icon>
</button>
  <h2 class="small-text">Import from gallery</h2>
</div>


  <row *ngIf="everyone" class="friends">
    <ion-col>
      <ion-card>
        <img class="notHim" src="{{everyone[1].imageUrl}}">
        <button class="notbutton" style="border-radius: 100%">{{everyone[1].score}}%</button>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img class="notHim" src="{{everyone[2].imageUrl}}">
        <button class="notbutton" style="border-radius: 100%">{{everyone[2].score}}%</button>
      </ion-card>
    </ion-col>
  </row>

  <row *ngIf="everyone" class="friends">
    <ion-col>
      <ion-card>
        <img  class="notHim" class="notHim" src="{{everyone[3].imageUrl}}">
        <button class="notbutton" style="border-radius: 100%">{{everyone[3].score}}%</button>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img class="notHim" src="{{everyone[4].imageUrl}}">
        <button class="notbutton" style="border-radius: 100%">{{everyone[4].score}}%</button>
      </ion-card>
    </ion-col>
  </row>

  <row *ngIf="everyone" class="friends">
    <ion-col>
      <ion-card>
        <img class="notHim" src="{{everyone[5].imageUrl}}">
        <button class="notbutton" style="border-radius: 100%">{{everyone[5].score}}%</button>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img class="notHim" src="{{everyone[6].imageUrl}}">
        <button class="notbutton" style="border-radius: 100%">{{everyone[6].score}}%</button>
      </ion-card>
    </ion-col>
  </row>






</ion-content>
