<ion-header class="barcode-headers">

  <!--<ion-navbar>-->
    <!--<ion-title>Barcode</ion-title>-->
  <!--</ion-navbar>-->

  <ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-top>
    <ion-segment [(ngModel)]="whichtab" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button class="segment-activated" value="recent">Recent</ion-segment-button>
      <ion-segment-button value="saved">Saved</ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>


  <div [ngSwitch]="whichtab">

    <div *ngSwitchCase="'recent'" >
      <ion-list-header>
        Recent
      </ion-list-header>
      <ion-list *ngIf="recentList">
        <ion-item-sliding *ngFor="let recent of recentList">
          <ion-item>
            <ion-avatar item-left>
              <img src="{{recent.picture}}">
            </ion-avatar>
            <h2>{{recent.name}}</h2>
          </ion-item>
          <ion-item-options side="right" (click)="favoriteRecent()">
            <button secondary>
              <ion-icon name="mail"></ion-icon>
              Favorite
            </button>
            <button danger tappable (click)="deleteRecent()">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div *ngSwitchCase="'saved'">


    </div>

  </div>

</ion-content>
