<ion-header class="barcode-headers">

  <!--<ion-navbar>-->
    <!--<ion-title>Barcode</ion-title>-->
  <!--</ion-navbar>-->

  <ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-top>
    <ion-segment [(ngModel)]="whichtab" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button class="segment-activated" value="recent">Recent</ion-segment-button>
      <ion-segment-button value="saved">Saved</ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content class="barcode">

    <ion-searchbar
      placeholder="What's his name?"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>


  <div [ngSwitch]="whichtab">

    <div *ngSwitchCase="'recent'" >
      <ion-list-header>
        Recent
      </ion-list-header>
      <ion-list *ngIf="recentList">
        <ion-item-sliding *ngFor="let recent of recentList">
          <ion-item>
            <ion-avatar item-left>
              <img src="{{recent.picture}}">
            </ion-avatar>
            <h2>{{recent.name}}</h2>
          </ion-item>
          <ion-item-options side="right">
            <button secondary tappable (click)="favoriteRecent(recent)">
              <ion-icon name="heart"></ion-icon>
              Favorite
            </button>
            <button danger tappable (click)="deleteRecent()">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div *ngSwitchCase="'saved'">
      <ion-list-header>
        Favorites
      </ion-list-header>
      <ion-list *ngIf="favoriteList">
        <ion-item-sliding *ngFor="let favorite of favoriteList; let i = index">
          <ion-item>
            <ion-avatar item-left>
              <img src="{{favorite.picture}}">
            </ion-avatar>
            <h2>{{favorite.name}}</h2>
          </ion-item>
          <ion-item-options side="right">
            <button danger tappable (click)="deleteFavorite(favorite.id)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

  </div>

</ion-content>
