

<ion-content padding class="login-page" *ngIf="!auth.authenticated()">


  <!--<button ion-button full (click)="auth.login()">Full Button</button>-->
  <div class="login-container">

    <button block (click)="auth.login()" style="background-color: #DD4B39">  <ion-icon name="logo-googleplus"></ion-icon>Sign In with Google</button>

  </div>

</ion-content>




<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (tap)="testData()">
        <i class="fa fa-calendar fa-2x"></i>
      </button>
    </ion-buttons>


    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="activateScan()">
        <!--<ion-icon name="search"></ion-icon>-->
        <!--<i class="fa-stack fa-circle fa-qrcode "></i>-->
      <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-qrcode fa-stack-3x"></i>
</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="home" *ngIf="auth.authenticated()">
  <ion-card>
    <!--<img src="img/barcode.png"/>-->
    <img src="https://echoserver162.herokuapp.com/mycode.png"/>
    <ion-card-content>
      <ion-card-title>
        Let someone scan this to get information on you.
      </ion-card-title>
      <p>
        Set up your profile to generate a barcode if you like
      </p>
    </ion-card-content>




  </ion-card>

  <ion-card>
    <ion-card-header style="text-align: center">
      <span text-left> You connected with <strong><span style="color: red;">23</span></strong> people!</span>
    </ion-card-header>
  </ion-card>

</ion-content>
