.home {

  img{
  }

  ion-card > ion-card-content{
    padding-top:0 !important;
  }

  ion-card > ion-card-content  >ion-card-title{
    padding-top: 0 !important;
  }

}

.login-page{
  background: url("../../img/background.jpg") no-repeat center;
  background-size: cover;

  button{
    top: 350px;
    position: relative;
  }

  .login-container{
    height: 100%;
    position: relative;
  }

  .my-card{
    position: relative !important;
    top: 350px !important;
  }


}
