<ion-content padding class="portfolio-modal" *ngIf="account">
  <ion-card class="portfolio-card">
    <img src="{{account.picture_url}}"/>
    <ion-card-content>
      <ion-card-title>
        {{account.title}}
      </ion-card-title>
      <p>
        {{account.description}}
      </p>
    </ion-card-content>
    <button full danger ion-button icon-only (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-card>

</ion-content>

<ion-content padding class="portfolio-modal" *ngIf="!account">
  <ion-card class="portfolio-card">
    Please wait..
  </ion-card>
</ion-content>
